Model/src/xxnvt/model/common/DbObjectsVOSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="/xxnvt/model/common/" xmlns="/xxnvt/model/common/" elementFormDefault="qualified"
     sdoJava:package="xxnvt.model.common">
    <xsd:annotation>
        <xsd:documentation>
            <name>Db Objects Vo</name>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:complexType name="DbObjectsVOSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Owner" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ObjectName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="SubobjectName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ObjectId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="DataObjectId" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="ObjectType" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Created" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="LastDdlTime" type="ns0:dateTime-Timestamp" minOccurs="0"/>
            <xsd:element name="Timestamp" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Status" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Temporary" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Generated" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Secondary" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Namespace" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="EditionName" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ObjectSource" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="dbObjectsVOSDO" type="DbObjectsVOSDO"/>
</xsd:schema>
